.AddIcon {
  float: left;
  margin: auto;
  width: inherit;
}

.AddIcon img{
  max-width: 50px;
  max-height: 50px;
  min-width: 10px;
  min-height: 10px;
  border-radius: 25px;
  margin: auto;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);

}
